@import url("vars.css");

input[name="label-select"] {
    margin-top: 0.4rem;
}

div.label-sel-container {
    display: flex;
    gap: 0.3rem;
    align-items: top;
}

div.label-sel-controls {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

div.label-sel-controls.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
}

div.label-sel-controls.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
}

div.label-sel-btn {
    font-family: myFirstFont;
    padding: 0.3rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.label-sel-btn:hover {
    background-color: var(--highlight-color);
}

div.label-sel-btn.edit:after {
    content: '\f044';
}

div.label-sel-btn.remove:after {
    content: '\f1f8';
}

label.label-sel-name {
    width: 100%;
}

input.label-sel-name {
    width: 100%;
    display: none;
    padding: 0.1rem;
    border-radius: 0.1rem;
    background-color: var(--default-bg);
    border: 1px solid var(--highlight-color);
    box-shadow: none;
}

label.label-sel-color {
    border-radius: 0.2rem;
    width: 100%;
    height: 1.0rem;
    display: table;
    font-family: myFirstFont;
    font-size: 0.7rem;
    text-align: center;
    color: white;
}

input.label-sel-color {
    display: none;
}

label.label-sel-color:hover {
    margin: -2px;
    border: 2px solid var(--highlight-color);
}

label.label-sel-color.color1 {
    background-color: #b62b6e;
}

label.label-sel-color.color2 {
    background-color: #9628c6;
}

label.label-sel-color.color3 {
    background-color: #4374b7;
}

label.label-sel-color.color4 {
    background-color: #abb8af;
}

label.label-sel-color.color5 {
    background-color: #98c807;
}

label.label-sel-color.color6 {
    background-color: #b1a24a;
}

label.label-sel-color.color7 {
    background-color: #edd812;
}

label.label-sel-color.color8 {
    background-color: #ef9421;
}

label.label-sel-color.color9 {
    background-color: #d13814;
}

.label-sel-controls .row2 input[type="radio"]:checked+label::after {
    content: '\f00c';
}