@import url("vars.css");

:root {
    --layers-padding: 0.75rem;
}

div.layers {
    position: absolute;
    background-color: var(--default-bg);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    flex-direction: column;
    z-index: -1;
    width: 300px;
    height: calc(100% - var(--toolbar-height) - 2 * var(--layers-padding));
    top: var(--toolbar-height);
    right: 0;
    padding: var(--layers-padding);
    gap: 0.2rem;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    padding: 0.2rem;
    cursor: pointer;
}

.lbl-toggle:hover {
    background-color: var(--highlight-color);
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
    border-bottom: 1px solid var(--highlight-color);
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px;
}

.collapsible-content .content-inner {
    padding: 0.5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}