@import url("vars.css");

div.toolbar {
    background-color: var(--default-bg);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    position: absolute;
    width: 100%;
}

div.toolbar.left {
    position: absolute;
    flex-direction: column;
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.2);
    z-index: -1;
    width: auto;
    height: calc(100% - var(--toolbar-height));
    top: var(--toolbar-height);
}

div.toolbar-element {
    font-family: myFirstFont;
    width: var(--toolbar-height);
    height: var(--toolbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.toolbar-expand {
    flex-grow: 1;
}

div.toolbar-vsep {
    margin: 0.2rem;
    border-top: 1px solid var(--highlight-color);
}

div.toolbar-element:hover {
    background-color: var(--highlight-color);
}

div.toolbar-element.open:after {
    content: '\f07c';
}

div.toolbar-element.save:after {
    content: '\f0c7';
}

div.toolbar-element.undo:after {
    content: '\f2ea';
}

div.toolbar-element.redo:after {
    content: '\f2f9';
}

div.toolbar-element.fit-window:after {
    content: '\f065';
}

div.toolbar-element.move:after {
    content: '\f0b2';
}

div.toolbar-element.pointer:after {
    content: '\f245';
}

div.toolbar-element.ruler:after {
    content: '\f545';
}

div.toolbar-element.angle:after {
    content: '\f568';
}

div.toolbar-element.circle:after {
    content: '\f111';
}

div.toolbar-element.box:after {
    content: '\f45c';
}

div.toolbar-element.polygon:after {
    content: '\f5ee';
}

div.toolbar-element.line:after {
    content: '\f715';
}

div.toolbar-element.point:after {
    content: '\f192';
}
