
@import url("styles/vars.css");

@import url("styles/button.css");
@import url("styles/toolbar.css");
@import url("styles/layers.css");
@import url("styles/label-select.css");

@font-face {
  font-family: myFirstFont;
  src: url("/assets/fonts/fa-solid-900.woff2");
}

body {
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: var(--default-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

canvas {
  flex-grow: 1;
  background-color: white;
  position: absolute;
  left: var(--toolbar-height);
  top: var(--toolbar-height);
  height: calc(100% - var(--toolbar-height));
  width: calc(100% - var(--toolbar-height) - 300px);
  z-index: -2;
  cursor: crosshair;
  image-rendering: pixelated;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--default-bg);
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }
}
